%nav
  %ul
    %li
      %a{:href => "#wtf"} WTF
    %li
      %a{:href => "#omg"} OMG
    %li
      %a{:href => "#wtfomg"} OMGWTF
    %li
      %a{:href => "#omgwtfbbq"} OMGWTFBBQ
    %li
      %a{:href => "#mftsii"} MFTSII
    %li
      %a{:href => "#lmao"} LMAO
    %li.blame
      %a{:href => "#lmao"} BLAME